html {
  font-size: 62.5%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section, article, aside, footer, header, nav, hgroup{
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, h5{
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

button .button{
  -webkit-appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #CED4DA;
  color: #212529;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  margin: 1.6rem 0;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border: solid 1px #CED4DA;
  padding: 1rem 1.4rem;
  margin: 1.6rem 0;
  font-size: 1.6rem;
  border-radius: 3px;
  font-family: inherit;
}

.fixed-bar-box-shadow{
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.04);
}

#fixed-bar{
  width:100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right : 0;
  z-index: 100;
}

#fixed-bar-wrap{
  width: 1024px;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

#fixed-bar #fixed-bar-wrap .fixed-logo{
  width: 120px;
  vertical-align: text-bottom;
  margin-bottom: 5px;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search{
  position: absolute;
  left: 152px;
  top: 16px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  text-decoration: none;
  padding: 0 1.6rem;
  height: 40px;
  box-sizing: border-box
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap{
  display: flex;
  justify-content: space-between;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input{
  display: block;
  width: 340px;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #212529;
  background-color: transparent;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap #header-search-button{
  border: none;
  margin: 0;
  background-color: transparent;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-icon{
  width: 19px;
  height: 19px;
  fill: #868e96;
  padding: 1rem 0;
}

#fixed-bar #fixed-bar-wrap .fixed-bar-menu{
  position: absolute;
  display: flex;
  right: 0;
  top: 16px;
  font-family: Noto Sans KR;
  color: #4D5159;
}

#fixed-bar #fixed-bar-wrap .fixed-bar-menu .fixed-bar-button{
  margin: 0;
  width: 100px;
  height: 40px;
  border: 1px solid #D1D3D8;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 0;
}

#fixed-bar #fixed-bar-wrap .fixed-bar-menu .fixed-bar-button span.button-text{
  color: #4D5159;
  font-size: 16px;
  
}

#fixed-bar #fixed-bar-wrap .fixed-bar-menu .fixed-bar-button span{
  font-style: normal;
  font-weight: bold;
  vertical-align: middle;
}

.fixed-bar-button{
  background-color: white;
}






.home-main-section{
  padding: 6rem 0;
}

.background-pale-green{
  background-color: #E6F3E6;
}

.home-main-content{
  display: flex;
  align-items: center;
}

 .home-main-image{
  display: inline-block;
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-2-f286322ab98acedf914a05bf77e84c67dcb897c8ccb543e66f6afea9d366d06d.png);
  width: 546px;
  height: 700px;
  background-size: 546px 740px;
}

.home-main-section .home-main-content{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main-title{
  font-size: 4rem;
  line-height: 1.35;
  margin-bottom: 2.4rem;
}

.text-m{
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}




