html {
  font-size: 62.5%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

section, article, aside, footer, header, nav, hgroup{
  display: block;
}

input, select, textarea {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  color: #000;
  vertical-align: middle;
  outline: 0;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, h5{
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

button .button{
  -webkit-appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #CED4DA;
  color: #212529;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  margin: 1.6rem 0;
  text-decoration: none;
}

input textarea {
  -webkit-appearance: none;
  border: solid 1px #CED4DA;
  padding: 1rem 1.4rem;
  margin: 1.6rem 0;
  font-size: 1.6rem;
  border-radius: 3px;
  font-family: inherit;
}

.fixed-bar-box-shadow{
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.04);
}


/* 헤더 */
#fixed-bar{
  width:100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right : 0;
  z-index: 100;
}

#fixed-bar-wrap{
  width: 1024px;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

#fixed-bar #fixed-bar-wrap .fixed-logo{
  width: 120px;
  vertical-align: text-bottom;
  margin-bottom: 5px;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search{
  display: flex;
  position: absolute;
  left: 152px;
  top: 16px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  text-decoration: none;
  padding: 0 1.6rem;
  height: 40px;
  box-sizing: border-box
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input{
  display: block;
  width: 340px;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #212529;
  background-color: transparent;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap #header-search-button{
  border: none;
  margin: 0;
  background-color: transparent;
}

#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-icon{
  width: 19px;
  height: 19px;
  fill: #868e96;
  padding: 1rem 0;

}

#fixed-bar #fixed-bar-wrap .fixed-bar-menu{
  position: absolute;
  display: flex;
  right: 0;
  top: 16px;
  font-family: Noto Sans KR;
  color: #4D5159;
  cursor: pointer;
}

.fixed-bar-button{
  font-size: 16px;
  background-color: white;
  width: 80px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 5px;
  line-height: 40px;
  color: #4a4a4a;
  font-style: normal;
  font-weight: bold;
  transition: all 0.2s;
}

.fixed-bar-button:focus{
  outline: none;
}

.fixed-bar-button:hover{
  color: #FF8A3D;
}


/* 공통 */
.wrap{
  min-height: 720px;
  width: 980px;
  margin: 0 auto;
  padding: 100px 20px 0px 0px;
  max-width: 1024px;
}

.more{
  width: 980px;
  min-height: 200px;
  width: 100%;
}

.other-item{
  width: 1024px;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}

.hr-more{
  overflow: visible;
  border-image: initial;
  border-top: 1px solid rgb(196, 196, 196);
  color: rgb(196, 196, 196);
  text-align: center;
  letter-spacing: 0.045em;
}

.hr-more::after{
  position: relative;
  top: -10px;
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  font-size: 12px;
  color: rgb(128, 128, 128);
  text-align: center;
  line-height: 1.5;
  content: "MORE";
}


/* 홈 화면 */
.home-main-section{
  padding: 80px 0 0 0;
}

.background-pale-green{
  background-color: #E6F3E6;
}

.background-pale-peach{
  background-color: #FBF7F2;
}

.home-main-content{
  display: flex;
  align-items: center;
}

 .home-main-image-1{
  display: inline-block;
  background: #FBF7F2 url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-top-68ba12f0da7b5af9a574ed92ca8b3a9c0068db176b566dd374ee50359693358b.png) no-repeat;
  right: -84px;
  width: 804px;
  height: 680px;
  background-size: 804px 685px;
}

.home-main-image-2{
  display: inline-block;
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png);
  width: 546px;
  height: 680px;
  background-size: 546px 700px;
}

.home-main-image-3{
  display: inline-block;
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-2-f286322ab98acedf914a05bf77e84c67dcb897c8ccb543e66f6afea9d366d06d.png);
  width: 546px;
  height: 680px;
  background-size: 546px 700px;
}

.home-main-section .home-main-content{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main-title{
  font-size: 4rem;
  line-height: 1.35;
  margin-bottom: 2.4rem;
}

.text-m{
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}


/* Footer */
.footer-box{
  background: #495057;
  height: 120px;
}

.copyright{
  width: 1020px;
  margin: 0 auto;
  line-height: 120px;
  vertical-align: middle;
}

.info {
  padding: 21px 0 3px 0;
  color: #fff;
  font-size: 14px;
}



/* 로그인 */
.login-wrapper{
  min-height: 100%;
  padding-top: 92px;
  background: 0 0;
  font-family: 'Apple SD Gothic Neo','Noto Sans KR',sans-serif;
}

.login-container{
  position: relative;
  max-width: 375px;
  min-height: 655px !important;
  box-sizing: border-box;
  max-width: 385px;
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  padding-bottom: 100px;
}

.login-header{
  height: 100px;
  text-align: center;
  border-bottom: 2px solid rgba(0,0,0,0.04);
}

.login-form{
  margin: 5px 0 0;
  padding: 0 15px;
}

.n-input{
  margin-top: 15px;
  margin-bottom: 0px;
  box-sizing: border-box;
  box-sizing: border-box!important;
  width: 100%;
  height: 50px;
  padding: 0 9px 0 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 15px;
  transition: border .2s ease-in-out;
  -webkit-appearance: none;
}


.n-btn{
  margin-top: 15px;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
  background-color: #FF8A3D;
  display: block;
  width: 100%;
  height: 50px;
  padding: 1px 10px 0 10px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 47px;
  color: #fff;
  text-align: center;
}

.login-option{
  position: relative;
  height: 36px;
}

.login-util{
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
  text-align: center;
}

#id-search{
  margin: 0 3px;
  display: inline-block;
  margin: 0 6px;
  padding: 5px;
  color: #aaa;
  vertical-align: middle;
}

.login-util>span{
  display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #d8d8d8;
    vertical-align: middle;
}

#pw-search{
  margin-right: 0;
  display: inline-block;
  margin: 0 6px;
  padding: 5px;
  color: #aaa;
  vertical-align: middle;
}


/* 상품 카드 */
.item-list{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1024px;
  position: relative;
  padding-top: 20px;
  padding: 0 0 0 20px;
  margin: 0 auto;
}

.category-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width:1024px;
  padding-top: 20px;
  margin: 0 auto;
}



.baby-product{
  position: relative;
  float: left;
  padding: 10px 10px 10px 10px;
  width: 216px;
  box-sizing: content-box;
}

.card{
  color:black;
  border: medium;
}

.card-common {
  height: 350px;  
  border-radius: 10px;
  border-bottom: 1px sold #ddd;;
  overflow: hidden;
}

.card-common:hover {
  -webkit-box-shadow: 0px 4px 12px #bababa;
  box-shadow: 0px 4px 12px #bababa;
}

/* 동네생활 */
.community-common {
  height: 250px;  
  border-radius: 15px;
  border-bottom: 3px sold #ddd;;
  width: 800px;
  text-decoration: none;
  border: medium;
  border-color: black;
}

.community-common:hover {
  -webkit-box-shadow: 0px 4px 12px #bababa;
  box-shadow: 0px 4px 12px #bababa;
  border: medium;
}
.community-category{
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  float: left;
  padding-top: 3px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightgray;
  font-weight: bold;
}
.community-card-title {
  font-size: large;
  font-weight: bold;
}
.community-card-body{
  font-size: large;
  align-items:center;
  float: right;
}
.community-card-description{
  font-size:medium;
}
.community-card-info-bottom{
  font-size: small;
  align-items:center;
  text-align: left;
}
.community-card-time{
  text-align: right;
  font-size: small;
}
.community-card-comment{
  font-size: medium;
  font-weight: bold;
  vertical-align: bottom;
}
.community-comment-button{
  background-color: lightgray;
  color: #000;
  font-weight: bold;  
}
.card-common .card-imgbox {
  position: relative;
  padding-top: 92.5%;
  overflow: hidden;
}

.card-common .card-imgbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

.card-info-bottom{
  display: flex;
  justify-content: space-between;
}

.card-body{
  padding: 1rem 1rem 0rem 1rem;
}



/* 글 작성하기 */
@media only screen and (min-width: 641px) {
  body {
      background-color: #fff;
  }
  #container {
    width: 1024px;
    margin: 0 auto;
    padding: 16px 0;
    position: relative;
    margin-top: 80px;
  }
}


#container > div.articles > form.write {
  position: relative;
  margin-bottom: 5px;
  border: 2px solid #d6d6d6;
  box-sizing: border-box;
}

#container > div.articles > form.write input.title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border: 0;
  color: #292929;
  font-size: 16px;
  font-weight: bold;
}

#container > div.articles > form.write textarea {
  width: 100%;
  height: 350px;
  border: 0;
  color: #292929;
  font-size: 14px;
  resize: none;
}

#container > div.articles > form.write *:focus {
  outline: none;
}

#container > div.articles > form.write p {
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
  margin: 0;
}

#container > div.articles > form.write ol.thumbnails {
  display: flex;
  padding: 0;
}

.thumbnails-del{
  position: relative;
  border-radius: 50%;
  background-color: black;
  color:white;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: -5px;
  left : 105px; 
  cursor: pointer;
}

#container > div.articles > form.write ol.thumbnails > li{
  display: inline-block;
  margin: 0 4px 4px 0;
  width: 100px;
  height: 100px;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  border-radius: 8px;
}

#container > div.articles > form.write ol.thumbnails > li.thumbnails.attached{
  background-size: cover;
}


.pagination{
  display: flex;
}

.pagination > div{
  width: 50px;
  height: 50px;
  text-align: center;
  color: #999;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  padding-top:5px;
  cursor: pointer;
}

.fas{
  color: black;
  font-weight: 550;
  height: 24px;
  width: 24px;
  line-height: 24px;
}


.pagination > :last-child{
  margin-left: auto;
}

.pagination-submit > i{
  color: #FF8A3D !important;
}


.input-file-button{
  width: 50px;
  height: 50px;
  text-align: center;
  color: #999;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  padding-top:5px;
  cursor: pointer;
}

.hidden{
  display: none;
}

/* Select Box */
.select-box {
  position: relative;
  width: 200px;/* 너비설정 */
  border: 1px solid #999; /* 테두리 설정 */
  border-radius: 5px;
  z-index: 1;

  /* focus 효과*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* 가상 선택자를 활용 화살표 대체 */
.select-box:before {
 content: "";
 position: absolute;
 top: 50%;
 right: 15px;
 width: 0;
 height: 0;
 margin-top: -1px;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 5px solid #313131;
}

.select-box label {
 position: absolute;
 top: 1px; /* 위치정렬 */
 left: 5px; /* 위치정렬 */
 padding: .5em .5em; /* select의 여백 크기 만큼 */
 color: #333;
 z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.select-box select {
 width: 100%;
 height: auto;  /* 높이 초기화 */
 line-height: normal; /* line-height 초기화 */
 font-family: inherit; /* 폰트 상속 */
 padding: .8em .5em;  /* 여백과 높이 결정 */
 border: 0;
 opacity: 0;  /* 숨기기 */
 filter: alpha(opacity=0);  /* IE8 숨기기 */
 -webkit-appearance: none;  /* 네이티브 외형 감추기 */
 -moz-appearance: none;
 appearance: none;
}



/* 상세 페이지*/
.item-pic{
  width: 450px;
  height: 450px;
  position: relative;
  float: left;
  text-align: center;
}


.item-pic .picture{
  max-height: 450px;
  object-fit:cover;
}


.item-detail{
  display: flex;
  margin-top: 10px;
  min-height: 550px;
}

.item-descrption-box{
  border-left: solid 1px #e9ecef;
  margin-left: 40px;
  padding: 10px 0 20px 20px;
  position: relative;
  float: right;
  width: 450px;
  font-size: 12px;
}

.item-descrption-box .member{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.profile{
  display: flex;
  align-items: center;
}

.profile > div > img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}



.item-descrption-box .title{
  font-size: 18px;
  font-weight: bold;
  width: 380px;
}

.item-descrption-box .category{
  margin-top: 4px;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.6px;
  color: #868e96;
}

.item-descrption-box .price{
  margin-top: 4px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.76;
  letter-spacing: -0.6px;
}

.item-descrption-box .description{
  margin-bottom: 16px;
  margin-top: 8px;
}

.item-descrption-box .description p{
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: -0.6px;
  margin: 16px 0;
  word-break: break-all;
}

.item-descrption-box .options p{
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.6px;
  color: #868e96;
}


.item-more{
  width: 677px;
  margin: 0 auto;
  padding-top: 32px;
  position: relative;
}

.other-item .item-list{
  padding: 0;
  justify-content: flex-start;
}


/* Community 생성 */
.ico{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.ico-vote{
  background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png) no-repeat;
  background-size: 600px 900px;
  background-position: -78px -384px;
}

.blind{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 100px;
  white-space: nowrap;
}


/* Vote */


.poll-area{
  display: block;
  padding: 0;
  margin-top: 24px;
}

.noti-from-op{
  margin-top: 8px;
  border-bottom: none !important;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.26em;
  color: #94969b;
  font-style: normal;
}

.noti-from-op::before{
  content: "※ ";
  margin-top: -2px;
}

.poll-list{
  padding-bottom: 0;
}

.poll-list li{
  padding: 5px 5px 0 5px;
  position: relative;
  margin-top: 5px;
  background: #fff;
}

.poll-list li>span{
  display: block;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 0;
}

.poll-list li>span input{
  padding: 16px 30px 13px 16px;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.26em;
}

.poll-list li.add{
  margin-top: 1px;
  min-height: 50px;
}

.poll-list li.add .btn-add{
  display: inline-block;
  text-align: left;
  margin-top: 14px;
  color: #94969b;
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  box-sizing: border-box;
}

.poll-list li.add .btn-add:before{
  margin-right: 3px;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png) no-repeat;
  background-size: 600px 900px;
  background-position: -140px -756px;
  margin-top: -2px;
}

#btn_add_choice{
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.fnc{
  padding: 5px 5px 0 5px;
  height: 56px;
  z-index: 1;
  border: 0;
  border-top: 1px solid #f6f7fa;
  position: relative;
  display: table;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 1001;
  transform: translateZ(0);
}

.fnc>div{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.fnc .allow{
  text-align: left;
}

.fnc .delete{
  padding-top: 3px;
}

.check-bx{
  margin-top: 2px;
  display: inline-block;
  position: relative;
}

.check-bx .inp-chk{
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border: 0;
  opacity: 0;
  background: none;
  -webkit-appearance: none;
}

.inp-lb{
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #222;
  box-sizing: border-box;
  cursor: pointer;
}

.check-bx > div{
  display: flex;
  align-items: center;
}

.check-bx > div > i{
  color: #999;
}

.check{
  color: #FF8A3D !important;
}

#btn_poll_delete{
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-delete{
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
}

.btn-delete:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png) no-repeat;
  background-size: 600px 900px;
  background-position: -166px -756px;
  margin-top: -2px;
  margin-right: 3px;
}

#poll_choice_x_2{
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png) no-repeat;
  background-size: 600px 900px;
  background-position: -114px -750px;
  z-index: 1;
  cursor: pointer;
}